input {
  width: 100%;
  border: none;
  margin-bottom: 5px;
}
.app-messages {
  height: 400px;
  overflow: scroll;
}
input {
  background: none !important;
}
.text-end{
    margin-right: 5px;
}

.app-messages::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  .app-messages::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
  .app-messages::-webkit-scrollbar-thumb {
    background-color:darkslategrey;
    border-radius: 20px;
  }

  .app-messages::-webkit-scrollbar-button:increment,
  .app-messages::-webkit-scrollbar-button,
  .app-messages::-webkit-scrollbar-corner {
    display: none;
} 
