<h1>Chat</h1>
<hr />

<div class="app-messages" id="app-messages">

  <div
    *ngFor="let chat of _cs.chats"
    [ngClass]="{ 'text-end': _cs.user.uid == chat.uid }"
  >
    <span class="badge"
      [ngClass]="{ 'bg-primary': _cs.user.uid == chat.uid, 
                   'bg-success': _cs.user.uid != chat.uid
      }"
      >{{ chat.from }}</span
    >
    <p>{{ chat.message }}</p>
  </div>
</div>

<hr />

<input
  type="text"
  name="message"
  class="form-control"
  [(ngModel)]="message"
  (keyup.enter)="send_message()"
  placeholder="Nuevo mensaje"
/>

<!-- <ul>
    <li *ngFor="let item of item$ | async">
      {{ item.name }}: {{ item.message }}
    </li>
  </ul> -->
