<div class="row container">
  <div class="col login-container">
    <br />
    <!-- <p class=".fs-3 text">LOG IN</p> -->
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="text-center">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email address"
          [ngClass]="{
            'dark-input': dark
          }"
        />
        <!-- VALIDATORS -->
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El email es requerido.
          </p>
        </div>
        <!-- END VALIDATORS -->
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          id="password"
          formControlName="password"
          [ngClass]="{
            'dark-input': dark
          }"
        />
        <!-- VALIDATORS -->
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">
            El password es requerido.
          </p>
          <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
            El password debe ser de 8 o más caracteres.
          </p>
        </div>
        <!-- END VALIDATORS -->
      </div>
      <button class="btn btn-primary" (click)="onSubmit()">Log In</button>
    </form>

    <div id="forgot-password" class="form-text">
      <a href=""> Forgot password? </a>
    </div>

    <br />
    <button class="btn btn-success" (click)="newAccount()">
      Create new account
    </button>
    <br />
    <div class="form-text mb-1">Accede con tu cuenta:</div>
    <div class="buttons">
      <button class="btn btn-outline-primary" (click)="logInButton('google')">
        Google
      </button>
      <button class="btn btn-outline-primary" (click)="logInButton('github')">
        GitHub
      </button>
    </div>
  </div>

  <div class="col img-container">
    <img class="img" src="assets/universe.svg" />
  </div>
</div>
