.footer1 {
  height: 50px;
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 0; */

}

/* @media (max-width: 785px) {
  .footer1 {

  }
} */

.divider {
  margin: 0;
}

.text {
  text-align: center;
}
