.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: none;
}

.navbar-title,
.navbar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
}

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

@media (max-width: 530px) {
  .title {
    display: none;
  }
}

.nav-item {
  list-style: none;
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#switch-mode {
  cursor: pointer;
}

/* .dropdown-menu{
  background: none;
} */